<footer class="site-footer h-card" style="background-color: WhiteSmoke;">
  <data class="u-url" href="/2021/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">de.NBI/ELIXIR-DE Workflow Workshop</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Naveed Ishaque</li><li><a class="u-email" href="mailto:naveed.ishaque@bih-charite.de">naveed.ishaque@bih-charite.de</a></li></ul>
      </div>

      <div class="footer-col footer-col-2"><ul class="social-media-list"></ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>de.NBI/ELIXIR-DE training workshop for bioinformatics workflow management. Learn about the leading DSL and tools: CWL, Snakemake, Nextflow,  nf-core, workflUX, WESkit and OpenEBench.
        </p>
      </div>
    </div>

  </div>

</footer>
